* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  width: 100vw;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  padding: 15px 2px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15vh auto auto;
  row-gap: 15px;
  justify-items: center;
}

.image--not-found {
  width: 100vw;
}