@font-face {
  font-family: get_schwifty;
  src: url(../fonts/get_schwifty.ttf);
}

.character {
  &__list {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    max-width: 200px;
    margin: 10px;
  }
}
li {
  list-style-type: none;
  display: block;
  text-align: inherit;
}

.alert {
  font-family: get_schwifty;
  color: white;
  size: 50px;
}
