@font-face {
  font-family: get_schwifty;
  src: url(../fonts/get_schwifty.ttf);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.char {
  &--container {
    margin: 10px;
    width: 100%;
    background-color: rgb(0,175,199);
  } 
  &--container:hover {
    animation: vibrate 0.4s both;
  } 
  &__link--container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 100%;
  }
  &__name {
    font-family: get_schwifty;
    font-size: 12px;
    padding: 10px 0 5px 0;
    text-align: center;
  }
  &__species {
    padding: 0 0 3px 10px;
  }
}

@media all and (min-width: 768px) {
  .char {
    &__name {
        font-size: 18px;
    }
    &__species {
      font-size: 20px;
    }
  }
}

@media all and (min-width: 1200px) {
  .char__name {
      font-size: 22px;
  }
}
