@font-face {
  font-family: get_schwifty;
  src: url(../fonts/get_schwifty.ttf);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.char {
  &--container {
    margin: 10px;
    width: 200px;
    height: 380px;
    background-color: rgb(0,175,199);
  } 
  &--container:hover {
    animation: vibrate 0.4s both;
  } 
  &__link--container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 100%;
  }
  &__name {
    font-family: get_schwifty;
    font-size: 25px;
    padding: 10px 0 5px 0;
    text-align: center;
    min-height: 70px;
  }
  &__species {
    padding: 0 0 3px 10px;
    font-size: 35px;
  }
}

.status__container {
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 10px;
  margin-bottom: 0;
}


