@font-face {
  font-family: comic_strip;
  src: url(../fonts/adamwarrenpro.ttf);
}

.form__input--text {
  background-color: black;
  border: 2px solid rgb(180,211,75);
  border-radius: 0px;
  height: 35px;
  width: 250px;
  transition: width 0.4s ease-in-out;
  text-indent: 10px;
  color: white;
  font-family: comic_strip;
  @media all and (min-width: 768px) {
    height: 40px;
    width: 400px;
    text-indent: 15px;
  }
}